<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sensor Data</title>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
        <a class="navbar-brand" href="#" id="mainLabel" v-on:click="homeClicked">SensorMeas</a>
        
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <form class="form-inline">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div>
              <date-picker class="form-control" v-model="selectedDate" 
                @dp-change="dateChanged" :config="datepickerOptions"></date-picker>
            </form>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown">Sensors</a>
            <div class="dropdown-menu">
              <form class="form-inline">
                <div class="form-group" v-for="sensor in sensors" :key="sensor.id">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" v-model="selectedSensors" :value="sensor" checked>
                    <label class="form-check-label" for="dropdownCheck">
                      {{sensor.name}}
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </li>
  
          <li class="nav-item dropdown">
            <form class="form-horizontal">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Meas</span>
                </div>
                <select class="form-control form-control-md" id="meas" name="meas" v-model="selectedMeas" v-on:change="selectMeas">
                  <option v-for="(meas, index) in measurements" v-bind:value="meas.id" >
                      {{ meas.name }}
                  </option>
                </select>
              </div>
            </form>
          </li>
        </ul>
  
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="search">Search</button>
        </form>
  
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" v-if="loggedInUser" data-toggle="dropdown">{{ loggedInUser }}</a>
          <a class="nav-link" v-on:click="login" v-else href="#">Login</a> 
          <div class="dropdown-menu" v-if="loggedInUser" >
            <a class="dropdown-item" href="#" v-on:click="logout" >Logout</a>
          </div>
        </div>
  
      </nav>
  
      <div class="container">
        <div class="row">
          
          <div class="col col-lg-auto">
            <svg class="chart" width="1000" height="750"></svg>
          </div>
          <div class="col col-sm ">
            <div class="form-group statbox" v-for="(sensor, index) in sensors" v-if="stats[sensor.name]" >
              <span class="badge" :class="'badge-sensor'+(index+1)" >{{ sensor.name }}</span>
              <span class="badge" :class="'badge-sensor'+(index+1)">{{ stats[sensor.name]["temp-curr"] }}&#176;C {{ stats[sensor.name]["temp-curr-time"] }}</span>
              <span class="badge badge-low">Low {{ stats[sensor.name]["temp-min"] }}&#176;C {{ stats[sensor.name]["temp-min-time"] }}</span>
              <span class="badge badge-hi">High {{ stats[sensor.name]["temp-max"] }}&#176;C {{ stats[sensor.name]["temp-max-time"] }}</span>
            </div>
          </div>
        </div>
      </div>
     
  </div>
  
  <script src="./js/index.js"></script>

  </body>
  </html>


